In [1]:
import sqlite3
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
# Increase figure size
plt.rcParams['figure.figsize'] = [25, 10]

In [2]:
# Get CPI data for salary comparisons
CPI = pd.read_csv("CPI.csv").set_index("Year")
current_benchmark = CPI.loc[2016, "Ave."]
multiplier = current_benchmark / CPI["Ave."]
multiplier

Year
2019          NaN
2018     0.955800
2017     0.979145
2016     1.000000
2015     1.012619
          ...
1917    18.750625
1916    22.019083
1915    23.763168
1914    24.000800
1913    24.243232
Name: Ave., Length: 107, dtype: float64

In [3]:
# Round salaries to nearest dollar
pd.options.display.float_format = '${:,.0f}'.format

In [4]:
con = sqlite3.connect("lahmansbaseballdb.sqlite")
cur = con.cursor()

In [5]:
# List of all tables in DB
cur.execute("SELECT name FROM sqlite_master WHERE type='table' ORDER BY name;")
cur.fetchall()

[('allstarfull',),
 ('appearances',),
 ('awardsmanagers',),
 ('awardsplayers',),
 ('awardssharemanagers',),
 ('awardsshareplayers',),
 ('batting',),
 ('battingpost',),
 ('collegeplaying',),
 ('divisions',),
 ('fielding',),
 ('fieldingof',),
 ('fieldingofsplit',),
 ('fieldingpost',),
 ('halloffame',),
 ('homegames',),
 ('leagues',),
 ('managers',),
 ('managershalf',),
 ('parks',),
 ('people',),
 ('pitching',),
 ('pitchingpost',),
 ('salaries',),
 ('schools',),
 ('seriespost',),
 ('teams',),
 ('teamsfranchises',),
 ('teamshalf',)]

In [6]:
# Read salary table into dataframe of same name
salaries = pd.read_sql_query("SELECT people.playerID, nameFirst, nameLast, yearID, teamID, salary FROM salaries INNER JOIN people ON salaries.playerID=people.playerID ORDER BY yearID, teamID, people.playerID", con)
salaries

        playerID nameFirst   nameLast  yearID teamID      salary
0      barkele01       Len     Barker    1985    ATL    $870,000
1      bedrost01     Steve  Bedrosian    1985    ATL    $550,000
2      benedbr01     Bruce   Benedict    1985    ATL    $545,000
3       campri01      Rick       Camp    1985    ATL    $633,333
4      ceronri01      Rick     Cerone    1985    ATL    $625,000
...          ...       ...        ...     ...    ...         ...
26423  strasst01   Stephen  Strasburg    2016    WAS $10,400,000
26424  taylomi02   Michael     Taylor    2016    WAS    $524,000
26425  treinbl01     Blake    Treinen    2016    WAS    $524,900
26426  werthja01    Jayson      Werth    2016    WAS $21,733,615
26427  zimmery01      Ryan  Zimmerman    2016    WAS $14,000,000

[26428 rows x 6 columns]

In [7]:
# Determine primary position by which position they played the most innings at
fielding = pd.read_sql_query("SELECT playerID, yearID, POS FROM fielding WHERE yearID in (SELECT yearID FROM salaries) GROUP BY yearID, playerID HAVING max(InnOuts) ORDER BY yearID, playerID", con)
fielding

        playerID  yearID POS
0       aasedo01    1985   P
1      abregjo01    1985   P
2      ackerji01    1985   P
3      adamsri02    1985  SS
4      agostju01    1985   P
...          ...     ...  ..
37077  zimmejo02    2016   P
37078  zimmery01    2016  1B
37079  zobribe01    2016  2B
37080  zuninmi01    2016   C
37081   zychto01    2016   P

[37082 rows x 3 columns]

In [8]:
salary_with_pos = salaries.merge(fielding, on=["playerID", "yearID"])
salary_with_pos

        playerID nameFirst   nameLast  yearID teamID      salary POS
0      barkele01       Len     Barker    1985    ATL    $870,000   P
1      bedrost01     Steve  Bedrosian    1985    ATL    $550,000   P
2      benedbr01     Bruce   Benedict    1985    ATL    $545,000   C
3       campri01      Rick       Camp    1985    ATL    $633,333   P
4      ceronri01      Rick     Cerone    1985    ATL    $625,000   C
...          ...       ...        ...     ...    ...         ...  ..
25468  strasst01   Stephen  Strasburg    2016    WAS $10,400,000   P
25469  taylomi02   Michael     Taylor    2016    WAS    $524,000  OF
25470  treinbl01     Blake    Treinen    2016    WAS    $524,900   P
25471  werthja01    Jayson      Werth    2016    WAS $21,733,615  OF
25472  zimmery01      Ryan  Zimmerman    2016    WAS $14,000,000  1B

[25473 rows x 7 columns]

In [9]:
# Average salary by position over the years
salary_by_pos = pd.pivot_table(salary_with_pos, values="salary", index="yearID", columns="POS", margins=True)[:-1]
salary_by_pos_sum = pd.pivot_table(salary_with_pos, values="salary", index="yearID", columns="POS", aggfunc='sum', margins=True)[:-1]
salary_by_pos["All_Sum"] = salary_by_pos["All"] * 9
salary_by_pos

POS,1B,2B,3B,C,OF,P,SS,All,All_Sum
yearID,,,,,,,,,
1985,"$600,300","$453,178","$488,649","$460,943","$493,873","$452,657","$412,160","$475,503","$4,279,527"
1986,"$524,218","$376,198","$488,932","$335,972","$468,257","$387,571","$375,192","$416,092","$3,744,825"
1987,"$621,193","$404,226","$419,637","$397,397","$457,238","$409,389","$346,563","$429,616","$3,866,546"
1988,"$585,206","$412,314","$504,628","$360,827","$500,752","$438,188","$425,006","$457,691","$4,119,220"
1989,"$689,788","$413,057","$469,044","$393,663","$561,528","$490,982","$475,233","$503,798","$4,534,184"
1990,"$839,982","$582,485","$425,189","$386,396","$607,866","$496,478","$508,783","$533,413","$4,800,714"
1991,"$1,303,941","$726,085","$695,455","$543,000","$1,041,560","$896,680","$836,908","$892,959","$8,036,628"
1992,"$1,671,022","$991,518","$842,165","$704,514","$1,250,716","$1,061,762","$730,531","$1,063,749","$9,573,745"
1993,"$1,299,748","$869,743","$1,022,472","$645,398","$1,107,223","$961,962","$937,493","$985,732","$8,871,589"
1994,"$1,408,966","$962,941","$1,158,713","$724,729","$1,239,589","$976,089","$950,963","$1,047,024","$9,423,213"
1995,"$1,686,700","$814,017","$1,058,141","$661,475","$1,171,691","$802,683","$1,067,951","$950,629","$8,555,663"
1996,"$1,835,076","$932,693","$1,002,468","$705,248","$1,276,220","$831,793","$1,171,134","$1,014,825","$9,133,423"
1997,"$2,656,563","$1,312,505","$1,297,059","$915,164","$1,440,765","$1,012,602","$1,153,510","$1,225,192","$11,026,727"
1998,"$2,291,246","$1,245,884","$1,481,188","$982,638","$1,595,370","$1,138,141","$1,028,075","$1,306,488","$11,758,394"
1999,"$2,227,740","$1,670,477","$1,551,763","$1,059,095","$1,753,836","$1,386,482","$1,167,120","$1,497,585","$13,478,269"
2000,"$3,353,810","$2,220,891","$1,705,311","$1,498,224","$2,330,259","$1,851,790","$1,771,598","$2,025,482","$18,229,341"
2001,"$3,489,830","$2,205,767","$2,042,853","$1,530,526","$2,706,343","$2,039,650","$2,717,809","$2,279,831","$20,518,479"
2002,"$3,991,015","$1,564,744","$2,628,010","$1,850,977","$2,952,104","$2,145,756","$2,937,873","$2,432,638","$21,893,738"
2003,"$3,891,292","$1,599,558","$2,343,652","$2,024,320","$3,482,243","$2,170,747","$3,252,318","$2,575,326","$23,177,938"
2004,"$4,058,119","$1,658,369","$2,920,367","$1,733,306","$3,181,268","$2,157,758","$2,494,064","$2,499,801","$22,498,211"
2005,"$3,646,020","$1,915,533","$3,603,040","$2,058,395","$3,450,499","$2,371,324","$2,373,574","$2,689,032","$24,201,287"
2006,"$3,702,173","$2,030,719","$4,020,053","$2,168,446","$3,376,079","$2,537,451","$2,930,647","$2,831,160","$25,480,443"
2007,"$4,511,518","$2,210,899","$3,802,582","$2,150,909","$3,495,636","$2,640,647","$3,430,185","$2,986,135","$26,875,216"
2008,"$5,224,315","$2,480,221","$4,403,345","$2,268,432","$3,564,571","$2,781,529","$3,490,649","$3,159,714","$28,437,430"
2009,"$5,188,532","$2,276,459","$4,905,604","$2,179,760","$3,865,745","$2,975,436","$3,125,978","$3,293,700","$29,643,300"
2010,"$5,866,043","$3,377,032","$3,826,080","$1,999,738","$3,641,376","$3,106,019","$3,145,683","$3,368,659","$30,317,935"
2011,"$5,898,399","$3,288,218","$4,226,936","$2,068,573","$4,009,776","$2,943,002","$2,878,360","$3,340,247","$30,062,219"
2012,"$5,354,791","$3,189,267","$4,213,548","$2,237,066","$3,850,524","$3,240,117","$2,940,899","$3,473,454","$31,261,087"
2013,"$5,539,522","$3,752,871","$4,123,415","$2,661,680","$4,205,997","$3,441,711","$3,676,341","$3,731,251","$33,581,257"
2014,"$6,086,528","$3,736,858","$3,284,002","$2,486,842","$4,797,669","$3,653,291","$4,224,424","$3,982,794","$35,845,142"
2015,"$7,432,858","$3,483,956","$5,052,860","$2,683,688","$5,272,518","$3,850,887","$3,879,810","$4,303,484","$38,731,352"
2016,"$8,695,899","$3,853,206","$5,538,359","$3,174,776","$4,993,365","$4,094,714","$2,981,957","$4,488,763","$40,398,866"

In [10]:
salary_by_pos_sum

POS,1B,2B,3B,C,OF,P,SS,All
yearID,,,,,,,,
1985,"$27,013,500","$14,954,881","$17,102,731","$18,437,705","$61,734,064","$99,584,594","$13,189,114","$252,016,589"
1986,"$28,307,784","$15,424,108","$23,468,721","$22,174,149","$72,111,652","$118,596,687","$15,758,084","$295,841,185"
1987,"$25,468,924","$13,743,667","$18,883,666","$21,062,043","$64,470,500","$104,394,147","$14,902,188","$262,925,135"
1988,"$27,504,701","$17,317,189","$22,708,242","$22,732,107","$73,109,799","$116,996,162","$15,300,224","$295,668,424"
1989,"$32,420,038","$18,174,500","$21,107,000","$24,800,740","$85,913,712","$145,330,654","$21,385,500","$349,132,144"
1990,"$46,199,036","$28,541,750","$23,810,583","$29,752,500","$101,513,653","$177,242,505","$23,403,999","$430,464,026"
1991,"$58,677,332","$31,221,667","$30,600,000","$34,209,000","$143,735,332","$264,520,670","$32,639,417","$595,603,418"
1992,"$76,867,001","$46,601,332","$36,213,083","$50,020,501","$192,610,252","$340,825,485","$38,718,169","$781,855,823"
1993,"$71,486,167","$49,575,333","$54,191,000","$46,468,668","$221,444,564","$388,632,835","$54,374,567","$886,173,134"
1994,"$78,902,075","$51,998,833","$66,046,667","$52,180,501","$218,167,749","$379,698,462","$51,352,000","$898,346,287"
1995,"$97,828,609","$46,398,973","$71,953,608","$52,917,994","$223,792,945","$367,629,012","$58,737,281","$919,258,422"
1996,"$108,269,464","$54,096,212","$57,140,667","$52,188,333","$242,481,838","$349,352,895","$53,872,150","$917,401,559"
1997,"$122,201,886","$74,812,783","$76,526,500","$64,976,637","$272,304,582","$430,355,857","$55,368,500","$1,096,546,745"
1998,"$132,892,277","$73,507,170","$82,946,500","$78,611,000","$301,525,010","$511,025,428","$60,656,428","$1,241,163,813"
1999,"$135,892,117","$91,876,224","$91,554,000","$87,904,861","$341,997,954","$628,076,166","$72,361,429","$1,449,662,751"
2000,"$167,690,504","$102,160,980","$100,613,333","$91,391,672","$389,153,242","$677,755,204","$81,493,500","$1,610,258,435"
2001,"$181,471,166","$105,876,833","$104,185,500","$105,606,262","$460,078,394","$756,710,285","$130,454,833","$1,844,383,273"
2002,"$211,523,769","$90,755,164","$126,144,500","$118,462,526","$469,384,597","$813,241,486","$126,328,522","$1,955,840,564"
2003,"$229,586,205","$86,376,133","$110,151,667","$133,605,125","$550,194,352","$805,347,312","$139,849,667","$2,055,110,461"
2004,"$251,603,401","$86,235,167","$134,336,900","$109,198,296","$486,733,943","$807,001,335","$112,232,900","$1,987,341,942"
2005,"$215,115,172","$101,523,233","$158,533,760","$129,678,858","$534,827,277","$903,474,565","$97,316,533","$2,140,469,398"
2006,"$225,832,564","$97,474,497","$176,882,340","$138,780,566","$513,164,029","$961,693,994","$114,295,232","$2,228,123,222"
2007,"$252,645,014","$92,857,739","$186,326,498","$141,959,971","$534,832,270","$1,040,414,911","$157,788,528","$2,406,824,931"
2008,"$250,767,110","$114,090,180","$211,360,547","$147,448,112","$559,637,576","$1,098,704,002","$171,041,780","$2,553,049,307"
2009,"$259,426,595","$116,099,391","$225,657,776","$137,324,856","$560,533,027","$1,139,591,885","$146,920,964","$2,585,554,494"
2010,"$305,034,239","$168,851,614","$191,304,005","$123,983,766","$553,489,113","$1,189,605,201","$128,972,997","$2,661,240,935"
2011,"$265,427,946","$154,546,230","$236,708,399","$138,594,368","$605,476,215","$1,159,542,836","$135,282,935","$2,695,578,929"
2012,"$331,997,027","$156,274,061","$214,890,958","$147,646,375","$569,877,580","$1,266,885,786","$129,399,539","$2,816,971,326"
2013,"$304,673,704","$172,632,056","$210,294,162","$178,332,540","$618,281,576","$1,380,126,284","$165,435,326","$3,029,775,648"
2014,"$377,364,709","$205,527,188","$141,212,100","$166,618,382","$738,841,017","$1,366,330,727","$194,323,500","$3,190,217,623"
2015,"$393,941,466","$184,649,666","$217,272,965","$174,439,694","$822,512,772","$1,540,354,745","$178,471,261","$3,511,642,569"
2016,"$426,099,054","$181,100,680","$271,379,587","$212,709,975","$788,951,724","$1,637,885,415","$122,260,257","$3,640,386,692"

In [11]:
teams = pd.read_sql_query("SELECT yearID, teamID, W, L, DivWin, WCWin, LgWin, WSWin FROM teams WHERE yearID>=1985", con)

In [12]:
salary_by_pos_team = pd.pivot_table(salary_with_pos, values="salary", index=["yearID","teamID"], columns="POS", aggfunc='sum', margins=True)[:-1]
salary_by_pos_team_results = salary_by_pos_team.merge(teams, on=["yearID", "teamID"])
salary_by_pos_team_results

,yearID,teamID,1B,2B,3B,C,OF,P,SS,All,W,L,DivWin,WCWin,LgWin,WSWin
0,1985,ATL,"$2,420,000","$455,000","$616,667","$1,170,000","$3,450,000","$5,945,333","$750,000","$14,807,000",66,96,N,None,N,N
1,1985,BAL,"$1,472,819","$480,000","$611,833","$854,167","$3,059,333","$3,832,560","$800,000","$11,110,712",83,78,N,None,N,N
2,1985,BOS,"$747,500","$597,500","$1,125,000","$477,500","$3,679,227","$3,322,500","$465,000","$10,414,227",81,81,N,None,N,N
3,1985,CAL,"$1,005,000","$966,667","$1,100,000","$883,000","$3,484,227","$5,032,333","$120,000","$12,591,227",90,72,N,None,N,N
4,1985,CHA,"$195,000","$1,242,333","$165,000","$885,000","$2,348,333","$4,950,512","$60,000","$9,846,178",85,77,N,None,N,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
913,2016,SLN,"$1,650,000","$5,250,000","$20,500,000","$17,275,000","$27,300,000","$58,887,000","$507,500","$131,369,500",86,76,N,N,N,N
914,2016,TBA,"$8,950,000","$2,250,000","$12,600,018","$2,013,600","$6,038,400","$24,203,192","$1,042,100","$57,097,310",68,94,N,N,N,N
915,2016,TEX,"$29,700,000","$522,700","$18,000,000","$3,044,000","$30,677,420","$54,249,770","$15,844,833","$152,038,723",95,67,Y,N,N,N
916,2016,TOR,"$14,421,300","$2,081,400","$11,650,000","$15,800,000","$17,942,900","$56,806,100","$20,000,000","$138,701,700",89,73,N,Y,N,N
917,2016,WAS,"$14,534,900","$11,000,000","$2,800,000","$6,737,500","$34,757,615","$68,428,231","$2,875,000","$141,133,246",95,67,Y,N,N,N

In [13]:
# Get salary by position as percentage of total payroll
pd.options.display.float_format = '{:,.2}'.format
salary_by_pos_pct = salary_by_pos.iloc[:,:7].apply(lambda x: x / salary_by_pos["All_Sum"])
salary_by_pos_sum_pct = salary_by_pos_sum.iloc[:,:7].apply(lambda x: x / salary_by_pos_sum["All"])
salary_by_pos_sum_pct

POS       1B    2B    3B     C   OF    P    SS
yearID
1985    0.11 0.059 0.068 0.073 0.24  0.4 0.052
1986   0.096 0.052 0.079 0.075 0.24  0.4 0.053
1987   0.097 0.052 0.072  0.08 0.25  0.4 0.057
1988   0.093 0.059 0.077 0.077 0.25  0.4 0.052
1989   0.093 0.052  0.06 0.071 0.25 0.42 0.061
1990    0.11 0.066 0.055 0.069 0.24 0.41 0.054
1991   0.099 0.052 0.051 0.057 0.24 0.44 0.055
1992   0.098  0.06 0.046 0.064 0.25 0.44  0.05
1993   0.081 0.056 0.061 0.052 0.25 0.44 0.061
1994   0.088 0.058 0.074 0.058 0.24 0.42 0.057
1995    0.11  0.05 0.078 0.058 0.24  0.4 0.064
1996    0.12 0.059 0.062 0.057 0.26 0.38 0.059
1997    0.11 0.068  0.07 0.059 0.25 0.39  0.05
1998    0.11 0.059 0.067 0.063 0.24 0.41 0.049
1999   0.094 0.063 0.063 0.061 0.24 0.43  0.05
2000     0.1 0.063 0.062 0.057 0.24 0.42 0.051
2001   0.098 0.057 0.056 0.057 0.25 0.41 0.071
2002    0.11 0.046 0.064 0.061 0.24 0.42 0.065
2003    0.11 0.042 0.054 0.065 0.27 0.39 0.068
2004    0.13 0.043 0.068 0.055 0.24 0.41 0.056
2005     0.1 0.047 0.074 0.061 0.25 0.42 0.045
2006     0.1 0.044 0.079 0.062 0.23 0.43 0.051
2007     0.1 0.039 0.077 0.059 0.22 0.43 0.066
2008   0.098 0.045 0.083 0.058 0.22 0.43 0.067
2009     0.1 0.045 0.087 0.053 0.22 0.44 0.057
2010    0.11 0.063 0.072 0.047 0.21 0.45 0.048
2011   0.098 0.057 0.088 0.051 0.22 0.43  0.05
2012    0.12 0.055 0.076 0.052  0.2 0.45 0.046
2013     0.1 0.057 0.069 0.059  0.2 0.46 0.055
2014    0.12 0.064 0.044 0.052 0.23 0.43 0.061
2015    0.11 0.053 0.062  0.05 0.23 0.44 0.051
2016    0.12  0.05 0.075 0.058 0.22 0.45 0.034

In [14]:
#salary_by_pos.index.name = "Year"
## you get ax from here
#ax = salary_by_pos.iloc[:, :7].plot()
#vals = ax.get_yticks()

## manipulate
#ax.set_ylabel("Salary")
#ax.legend(bbox_to_anchor=(1, 0.5))
#ax.set_yticklabels(['${:,.0f}'.format(x) for x in vals])
#ax.set_title("Average Player Salary by Position Over Time (1985-2016)")

In [15]:
## Base salaries off of 2016 value of dollar
#iter = 0
#for index in salary_by_pos.index:
#    salary_by_pos.iloc[iter,:] = salary_by_pos.iloc[iter,:] * multiplier[index]
#    iter += 1
    
## you get ax from here
#ax = salary_by_pos.iloc[:, :7].plot()
#vals = ax.get_yticks()

## manipulate
#ax.set_ylabel("Salary")
#ax.legend(bbox_to_anchor=(1, 0.5))
#ax.set_yticklabels(['${:,.0f}'.format(x) for x in vals])
#ax.set_title("Average Player Salary by Position Over Time (1985-2016)\n2016 Dollars")

In [16]:
#salary_by_pos_sum_pct.index.name = "Year"
## you get ax from here
#ax = salary_by_pos_sum_pct.plot()
#vals = ax.get_yticks()

## manipulate
#ax.set_ylabel("Percentage of Salary")
#ax.set_yticklabels(['{:,.0%}'.format(x) for x in vals])
#ax.legend(bbox_to_anchor=(1, 0.5))
#ax.set_title("Percentage of Salary by Position Over Time (1985-2016)")

In [17]:
positions = ["P", "C", "1B", "2B", "3B", "SS", "OF"]
WAR_by_position = pd.DataFrame()

for position in positions:
    if position == "P":
        # Interested in pitching WAR
        stat = "pit"
    else:
        # Interested in hitting/baserunning/fielding WAR
        stat = "bat"
    url = "https://www.fangraphs.com/leaders.aspx?pos=%s&stats=%s&lg=all&qual=0&type=8&season=2016&month=0&season1=1985&ind=0&team=0,ss&rost=0&age=0&filter=&players=0&startdate=&enddate=&page=1_50" % (position.lower(), stat)
    # Create dataframe (dropping first column and last row)
    df = pd.read_html(url)[16].iloc[:-1, 1:]
    # Rename columns to nicer format
    df.columns = df.columns.droplevel(0)
    # Add Position column before pivoting
    df["Position"] = position.upper()
    WAR_by_position = WAR_by_position.append(df, sort=False)
    
WAR_by_position = WAR_by_position.pivot(index="Season", columns="Position", values="WAR")
WAR_by_position

Position    1B     2B     3B     C     OF      P    SS
Season
1985      64.3   62.7   83.6  62.8  198.7  371.8  42.0
1986      76.6   53.4   78.3  57.7  198.8  372.0  40.0
1987      87.5   54.0   80.2  37.7  221.2  372.5  36.6
1988      72.6   52.8   66.9  57.3  198.6  371.2  57.3
1989      74.3   69.7   68.0  51.2  193.3  372.1  49.2
1990      84.9   63.4   61.9  62.8  211.1  372.5  48.7
1991      70.1   64.0   82.7  48.0  203.0  372.3  50.4
1992      62.5   70.4   69.1  56.1  197.4  372.7  55.5
1993      81.4   66.9   73.1  66.5  211.7  401.3  62.9
1994      62.9   45.4   47.5  39.1  154.5  283.0  30.9
1995      78.3   42.8   67.1  52.3  199.5  356.7  37.0
1996      89.1   35.9   71.8  57.4  221.2  401.0  43.6
1997      90.6   50.9   70.1  70.5  201.4  401.0  42.6
1998      92.1   63.3   71.5  56.3  236.6  430.0  53.2
1999      86.4   64.4   64.7  61.4  238.8  429.5  50.4
2000      95.6   61.6   63.8  73.0  233.2  429.6  50.7
2001      78.6   59.4   78.3  55.0  252.9  429.6  64.7
2002      85.4   58.9   63.8  46.7  263.0  429.1  70.3
2003      74.3   56.1   58.7  62.1  263.5  429.8  61.8
2004      64.2   62.8   87.0  49.3  243.1  429.6  66.0
2005      71.2   85.9   80.7  51.3  234.0  430.0  74.5
2006      74.3   50.7   95.3  60.2  230.9  429.8  62.2
2007      65.2   80.0   81.2  44.9  224.8  430.2  75.7
2008      65.3   86.1   90.0  58.3  239.4  429.6  68.0
2009      80.6   86.3   86.9  59.3  230.5  430.0  66.9
2010      67.8   80.7   73.8  63.9  241.5  430.0  63.7
2011      64.0   79.0   58.0  71.5  245.2  429.8  73.2
2012      51.3   63.8   86.9  78.9  251.4  430.0  68.0
2013      57.2   61.9   74.0  75.7  231.1  430.2  62.7
2014      64.9   65.7   87.3  76.6  240.8  430.0  69.9
2015      74.2   75.9   90.0  58.0  237.2  429.8  60.1
2016      61.5  100.9  117.0  60.5  210.4  429.5  80.7

TO DO: NEED WAR PER DOLLAR

In [18]:
con.close()